.DS_Store
*.filters
*.sln
*.user
*.vcxproj
*.xcodeproj/
xcode/
llvm/
vs/
.vs/
.vscode/
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
CMakeScripts/
Makefile
bin/
blog.build/
build/
src/*.dir
src/*.filters
src/*.vcxproj
src/CMakeFiles/
src/CMakeScripts/
src/Makefile
src/ThriftService.cpp
src/ThriftService.h
src/ThriftService_server.skeleton.cpp
src/blog.build/
src/cmake_install.cmake
src/grpc_service.grpc.pb.cc
src/grpc_service.grpc.pb.h
src/grpc_service.pb.cc
src/grpc_service.pb.h
src/protobuf.pb.cc
src/protobuf.pb.h
src/thrift_service_constants.cpp
src/thrift_service_constants.h
src/thrift_service_types.cpp
src/thrift_service_types.h
x64/
