*.filters
*.sln
*.user
*.vcxproj
*.xcodeproj/
.DS_Store
.idea/
.vs/
.vscode/
CMakeCache.txt
CMakeFiles/
CMakeLists.txt
CMakeScripts/
Makefile
bin/
blog.build/
blog.code-workspace
build/
cmake-build-debug/
cmake-build-release/
cmake_install.cmake
llvm/
msvc/
src/*.dir
src/*.filters
src/*.vcxproj
src/CMakeFiles/
src/CMakeLists.txt
src/CMakeScripts/
src/Makefile
src/blog.build/
src/cmake_install.cmake
vs/
x64/
xcode/
